@import 'gothampro';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

@mixin font-roboto($font-size,$font-weight,$font-spacing,$text-color) {
    font-family: Roboto;
    font-size: $font_size;
    font-weight: $font_weight;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: $font_spacing;
    text-align: left;
    color: $text-color;
}
@mixin font-gotham($font-size,$font-weight,$font-spacing,$text-color) {
    font-family: Gotham Pro;
    font-size: $font_size;
    font-weight: $font_weight;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: $font_spacing;
    text-align: left;
    color: $text-color;
}
$margin-left:40px;
$color: #636363;
body{
    width: 100%;
    height: auto;
    position: relative;
    background-image: linear-gradient(to top, #f9f9f9, #ebebeb);
}
.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    &-left{
        display: flex;
        margin-left: $margin-left;
        justify-content: center;
        align-items: center;
        &_chia{
            width: 2px;
            height: 30px;
            background-color: #cccccc;
            margin: 0 40px 0 41px;
        }
        ul li {
            display: inline-block;
        }
        a{
            text-decoration: none;
            @include font-roboto(14px, 500, 1.12px, #636363);
            width: 28px;
            height: 11px;
            margin: 17px 40px 57px;
        }
    }
    &-right{
        display: flex;
        justify-content: center;
        align-items: center;
        &_logo{
            width: 30px;
            height: 30px;
            padding: 9px 8px 9px 7px;
            border-radius: 4px;
            box-shadow: 0px 8px 20px 0 rgba(0, 0, 1, 0.1);
            background-color: #ffffff;
            margin: 0 5px 0 10px;
            i{
                font-size: 14px;
                text-align: center;
                color: #636363;
            }   
        }
        &_cart{
            @include font-roboto(14px, 500, normal, $color);
            margin: 0 40px 0 10px;
        }
        &_search{
            i{
                margin:0 10px 0 10px;
                font-size: 14px;
                text-align: center;
                color: #636363;
            }
        }
        &_avatar img{
            border-radius: 50%;
            margin: 0 10px 0 10px;
        }
        &_name{
            @include font-roboto(14px, 500, normal, $color);
            margin: 0 10px 0 10px;
        }
        &_icon i {
            color: #f26c4f;
            margin:0 10px 0 10px;
            font-size: 14px;
            text-align: center;
        }
    }

}
.body{
    width: 100%;
    height: auto;
    .shirt{
        display: flex;
        .shirt1{
            margin-left: $margin-left;
            margin-top:163px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                opacity: 0.6;
            }
            &-shadow{
                width: 175px;
                height: 40px;
                margin-top: 16px;
                background-color: black;
            }
        }
        .shirt2{
            margin-top: 93px;
            margin-left: 113px;
            margin-right: 80px;
            width: 810px;
            display: flex;
            position: relative;
            &-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                &-shadow{
                    width: 286px;
                    height: 66px;
                    margin-top: 16px;
                    background-color: black;
                }
            }
            &-infor{
                height: 223px;
                position: absolute;
                top:22%;
                left:49%;
                display: flex;
                flex-direction: column;
                &_row1{
                    margin-top: 20px;
                    span{
                        color: #f36d4f;
                    }
                    @include font-gotham(20px, 500, normal, #3f3f3f);
                }
                &_row2{
                    margin-top: 7px;
                    display: flex;
                    &_type{
                        @include font-gotham(14px, 300, normal, #959595);
                        margin-right: 94px;
                    }
                    &_star{
                        font-size: 14px;
                        i{
                            color: #f36d4f;
                        }
                        span{
                            @include font-gotham(14px, 500, normal, #464646);
                        }
                    }
                }
                &_row3{
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &_value{
                        span{
                            @include font-gotham(17px, 500, normal, #464646);
                        }
                        @include font-gotham(12px, normal, normal, #959595);
                    }
                    &_icon{
                        display: flex;
                        &_check{
                            width: 30px;
                            height: 30px;
                            border-radius: 4px;
                            background-color: #f36d4f;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            box-shadow: 0px 8px 20px 0 rgba(0, 0, 1, 0.1);
                            i{
                                color: #fefefe;
                            }
                            margin-right: 20px;
                        }
                        &_share{
                            width: 30px;
                            height: 30px;
                            border-radius: 4px;
                            background-color: #ffffff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            box-shadow: 0px 8px 20px 0 rgba(0, 0, 1, 0.1);
                            i{
                                color: #636363;
                            }
                        }
                    }
                }
            }
        }
        .shirt3{
            margin-top: 163px;
            margin-right: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                opacity: 0.6;
            }
            &-shadow{
                width: 175px;
                height: 40px;
                margin-top: 16px;
                background-color: black;
            }
        }

    }

}
#black{
    color: #959595;
}
.box{
        display: flex;
        width: 40px;
        height: 40px;
        background-color: #f36d4f;
        box-shadow: 0px 8px 20px 0 rgba(0, 0, 1, 0.1); 
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        margin-left: $margin-left; 
        position: absolute;
        top:80%; 
}
.footer{
    width: 100;
    height: 120px;
    display: flex;
    justify-content: space-between;
    &-left{
        display: flex;
        margin-left: $margin-left;
        align-items: center;
        &_box{
            box-shadow: 0px 8px 20px 0 rgba(0, 0, 1, 0.1);
            background-color: #ffffff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &_phoenix{
            @include font-gotham(14px, 300, normal, #686868);
            span{
                color: #a1a1a1;
            }
        }
        
    }
    &-mid{
        display: flex;
        align-items: center;
        @include font-gotham(14px, 300, -normal,#686868);
        span{
            color:#a1a1a1;
        }
    }
    &-right{
        display: flex;
        margin-right:30px;
        align-items: center;
        &_box{
            box-shadow: 0px 8px 20px 0 rgba(0, 0, 1, 0.1);
            background-color: #3f3f3f;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.background{
    font-family: Gotham Pro;
    font-size: 300px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.7;
    letter-spacing: normal;
    text-align: left;
    color: #a1a1a1;
    position:absolute;
    opacity: 0.1;
    top:0;
    z-index: -1;
    margin-top: 100px;
}

