*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('/IMG/section_hero.png');
}
.logo{
    margin-left: 111px;
    display: block;
    margin-top: 93px;
    float: left;
}
.menu{
    margin-top: 93px; 
    float: right;
}
ul{
    float: left;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 102px;
}
a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f2f2f2;
    font-weight: 300px;
}
li { 
    display: inline-block;
    
}
.portfolio{
    margin: 0 12px 0 0;
}
.about{
    margin: 0 20px 0 12px;
}
.pricing{
    margin: 0 18px 0 20px;
}
.careers{
    margin: 0 25px 0 18px;
}
.blog{
    margin: 0 18px 0 25px;
}
.getaquote{
    margin: 0 0 0 18px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    width: 100%;    
}
.technical{
    float: left;
    color: white;
    margin-top: 150px;
    margin-left: 111px;
    width: 899px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.98;
    letter-spacing: normal;
    color: #f2f2f2;
}
.toBuild{
    float: left;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    margin-left: 111px;
    width: 570px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #f3f3f3;
}
.toBuild-goodnews{
    font-weight: bold;
}
.check{
    margin-top: 25px;
    margin-left: 111px;
    display: flex;
}
.email input{
    width: 270px;
    height: 40px;
    margin: 0 8px 0 0 ;
    padding: 0 0 0 16px;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 #bebebe;
    background-color: #ededed;
    outline: none;
    border: none;
}
input{
    border: none;
    opacity: 0.5;
    width: 252px;
    height: 39px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: 0.14px;
    color: #383838;
    background-color: #ededed;
}

.request {
    border: none;
    width: 200px;
    height: 39px;
    margin: 0;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 #d0493f;
    background-color: #f7564b;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.16px;
    color: #ecf0f1;
    outline: none;
}
.request:hover{
    background-color:#FFF8DC;
    color:black;
    box-shadow: 0 2px 0 0 #bebebe;
}
.body-content{
    width: 100%;
    height: 870px;
    background: white;

}
.content{
    display: flex;
    flex-direction: column;
}
.intro{
    margin-left: 111px;
    padding-top: 60px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #383838;
    text-transform: uppercase;
}
.rectangle-4{
    width: 70px;
    height: 2px;
    background-color: #9a9a9a;
    margin-top: 40px;
    margin-left: 111px;
}
.rectangle{
    margin-top: 60px;
    margin-left: 111px;
    display: flex;
}
.rectangle-2{
    margin-left: 50px;
    margin-right: 51px;
}
.note{
    display: flex;
    font-family: Montserrat;
    font-size: 20.4px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 0.2px;
    color: #999797;
}
.note-1{
    margin: 10px 75px 0 111px ;
}
.note-2{
    margin: 10px 83px 0 50px;
}
.note-3{
    margin: 10px 0 0 0;
}

.continue{
    display: flex;
    font-family: Montserrat;
    font-size: 16.3px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: 0.24px;
    color: #383838;
}
.continue-1{
    margin: 10px 224px 0 111px;
}
.continue-2{
    margin: 10px 225px 0 50px;
}
.continue-3{
    margin: 10px 0 0 50px;
}
.glenn{
    width: 100%;
    height: 400px;
    background-image: url(/IMG/Rectangle_4.png);
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-1{
    width: 1100px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-2{
    width: 1100px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-3{
    margin-top: 20px;
    width: 1100px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-4{
    width: 1100px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    margin-top: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-1{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 10px 0 0;
    background-color: #f5f5f5;
}
.circle-2{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 10px 0 0;
    background-color: #b4aca5;
}
.circle-3{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 10px 0 0;
    background-color: #b4aca5;
}
.requirement{
    width: 100%;
    height: 650px;
}
.tellus{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight:700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    padding: 80px;
    color:#585858;
}
.contact{
    float: left;
    margin-left: 111px;
    display: flex;
    flex-direction: column;
}
.contact-us{
    width: 160px;
    height: 25px;
    font-family: Montserrat;
    margin-bottom: 26px;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: 0.24px;
    color: #555555;
}
.name-email{
    display: flex;
}
.name-email .name{
    width: 181px;
    height: 50px;
    margin-right: 19px;
    border-radius: 5px;
    background-color: #ededed;
}
.name input{
    width: 170px;
    height: 49px;
    opacity: 0.5;
    margin-left: 5px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: 0.14px;
    color: #383838;
    outline: none;
}
.your-email-address{
    width: 181px;
    height: 50px;
    border-radius: 5px;
    background-color: #ededed;
}
.your-email-address input{
    width: 170px;
    height: 49px;
    opacity: 0.5;
    margin-left: 5px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: 0.14px;
    color: #383838;
    outline: none;
}

.your-message{
    width: 381px;
    height: 129px;
    margin-top: 19px;
    border-radius: 5px;
    background-color: #ededed;
}
.your-message input{
    width: 340px;
    height: 49px;
    opacity: 0.5;
    margin-left: 5px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: 0.14px;
    color: #383838;
    outline: none;
}
.submit{
    width: 181px;
    height: 50px;
    margin-top: 19px;
    border-radius: 5px;
    background-color: #f7564b;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.16px;
    color: #ecf0f1;
    outline: none;
    border:none;
}
.infor{
    float: right;
    margin-right: 140px;
}
.address{
    text-align: right;
    margin: 0 0 26px 0;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: 0.24px;
    color: #555555;
}
.address-text{
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #888888;
}
.address-text-2{
    text-align: right;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #888888;
}
.phone{
    text-align: right;
    margin: 26px 0 26px 0;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: 0.24px;
    color: #555555;
}
.phone-number{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #888888;
    text-align: right;
}
.Email{
    text-align: right;
    margin: 26px 0 26px 0;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: 0.24px;
    color: #555555;
}
.Email-text{
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #888888;
    text-align: right;
}
.footer{
    width: 100%;
    height: 70px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
}
.left{
    margin-left: 111px;
    float: left;
    display: flex;
}
.allright-reserved {
    display: flex;
    justify-content: center;
    align-items: center;
}
.allright-reserved img{
    width: 15px;
    height: 15px;
}
.allright-reserved {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: white;
    margin-left: 10px;

}
.right{
    float: right;
    margin-right: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.designer{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: white;
}
.designer span {
    color: #f0718d;
}













